# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
# *.exe
*.out
*.app

# Otro
*.suo
*.filters
*.user
*.sdf
*.opensdf
source/angelwrap/DebugWin32
source/angelwrap/ReleaseWin32
source/cgame/DebugWin32
source/cgame/ReleaseWin32
source/game/DebugWin32
source/game/ReleaseWin32
source/gui/DebugWin32
source/gui/ReleaseWin32
source/snd_openal/DebugWin32
source/snd_openal/ReleaseWin32
source/snd_qf/DebugWin32
source/snd_qf/ReleaseWin32
source/warsow/DebugWin32
source/warsow/ReleaseWin32
source/wsw_server/DebugWin32
source/wsw_server/ReleaseWin32

source/angelwrap/Debug
source/angelwrap/Release
source/cgame/Debug
source/cgame/Release
source/game/Debug
source/game/Release
source/gui/Debug
source/gui/Release
source/snd_openal/Debug
source/snd_openal/Release
source/snd_qf/Debug
source/snd_qf/Release
source/warsow/Debug
source/warsow/Release
source/wsw_server/Debug
source/wsw_server/Release


source/ipch
media/AS_DEBUG
media/base/console.log

media/base/cgame_x64.dll
media/base/console.log
media/base/game_x64.dll
media/base/game_x86.dll
media/base/ui_x64.dll
media/base/cgame_x86.dll
media/base/game_x86.dll
media/base/ui_x86.dll
media/libs/angelwrap_x64.dll
media/libs/angelwrap_x86.dll
media/libs/snd_openal_x64.dll
media/libs/snd_openal_x86.dll
media/libs/angelwrap_x86.dll
media/libs/snd_qf_x64.dll
media/warsow_x64.exe
media/warsow_x86.exe
media/wsw_server_x64.exe
media/wsw_server_x86.exe
media/base/cgame_x86.dll
media/base/console.log
media/base/game_x86.dll
media/base/ui_x86.dll
media/libs/angelwrap_x86.dll
media/libs/snd_openal_x86.dll
media/libs/snd_qf_x86.dll
media/warsow_x64.exe
media/warsow_x86.exe
media/wsw_server_x86.exe
media/base/console.log
media/base/tempmodules*
